body {
  background-image: url('images/Fartvideos.png'); /* polku kuvaan */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.dashboard-container {
  padding-top: 70px; /* täsmää headerin korkeuteen */
}


.dashboard-header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #222222d7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dashboard-header button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.dashboard-header button:hover {
  background-color: #d32f2f;
}



.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.video-box {
  position: relative;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 12px;
  background-color: #f0f0f0b6;
}

.premium-blur video {
  filter: blur(5px);
  pointer-events: none;
}

.premium-blur .overlay {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
}
