body {
    background-image: url('images/Fartvideos.png');
    /* polku kuvaan */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.register_premium {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.register_premium input[type="checkbox"] {

    margin: 0;
    /* position: relative; */
    /* top: 2px; */
}


.premium_button {
    margin: 20px;
}

.register-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #f0f0f0b6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}